.Camera-Header-Container{
    display: flex;
    align-items: flex-start;
    padding: 2rem 1.5rem;
    align-items: center;
    position: absolute;
    width: 100vw;
    gap: 1.5rem;
    top: 0;
}

.Camera-Header-Back-Icon-Container{
    width: 2.5rem;
    height: 2.5rem;
    background-color: #FFFFFF;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.Camera-Header-Back-Icon{
    font-size: 1rem;
    color: #000;
}

.Camera-Header-Title{
    font-size: .8rem;
}

.Camera-Header-Subtitle{
    font-size: .75rem;
}

.Camera-Header-Title-Container{
    display: flex;
    flex-direction: column;
    gap: .2rem;
    max-width: 50%;
}