.Ana-Response-Options-Bottom-Container{
    display: flex;
    height: 100%;
    gap: .5rem;
    padding-left: 1rem;
}

.Ana-Response-Options-Container{
    width: 5%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    margin-top: 4.5px;
}

.Ana-Response-Option{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: .75rem;
    opacity: .5;
}