.Dashboard-Header-Navigation-Container{
    display: flex;
    gap: 3rem;
    align-items: center;
}

.Dashboard-Header-Navigation-Item-Container{
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .2s;
    cursor: pointer;
}

.Ana-Empty-Chat-Loading-Container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.Dashboard-Header-Navigation-Item-Container:hover .Dashboard-Header-Navigation-Item-Title{
    color: #121212;
}

.Dashboard-Header-Navigation-Item-Container:active{
    transform: scale(.95);
}

.Dashboard-Header-Navigation-Item-Title{
    font-size: .75rem;
    color: #666666;
}

.Dashboard-Header-Navigation-Item-Container[data-isactive='true'] .Dashboard-Header-Navigation-Item-Title{
    color: #121212;
    text-decoration: underline;
    text-underline-offset: .8rem;
}

@media screen and (max-width: 768px){
    .Dashboard-Header-Navigation-Item-Container{
        min-width: fit-content;
    }

    .Dashboard-Header-Navigation-Container{
        overflow-x: scroll;
        width: 100%;
        padding-bottom: 1.5rem;
    }
}