.User-Account-Container{
    display: flex;
    justify-content: space-between;
}

.User-Account-Left-Container{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.User-Account-Left-Header-Title-Container{
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.User-Account-Left-Header-Description{
    font-size: .85rem;
}

.User-Account-Left-Fields-Container{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.User-Account-Loading-Container{
    display: flex;
    justify-content: center;
    align-items: center;
}