.Header-Container{
    max-width: 1000px;
    margin: 0 auto;
    justify-content: center;
    display: flex;
    gap: 2.7rem;
    align-items: center;
    width: 100%;
    padding: .8rem 0;
}

.Header-Container-Wrapper{
    border-bottom: 1px solid #f5f5f7;
    box-shadow: -1px -1px 6px 0 #f5f5f7;
}

@media screen and (max-width: 768px){
    .Header-Container{
        display: none;
    }
}