.Ana-Go-To-Action-Container{
    display: flex;
    gap: .5rem;
    padding: .5rem;
    align-items: center;
    justify-content: center;
    border-radius: 5rem;
    background: #121212;
    color: #FFFFFF;
    cursor: pointer;
    transition: .2s;
}

.Ana-Go-To-Action-Container:active{
    transform: scale(.98);
}

.Ana-Go-To-Action-Container:hover{
    opacity: .95;
}

.Ana-Go-To-Action-Icon-Container{
    display: flex;
    align-items: center;
    justify-content: center;
}

.Ana-Container:has(.Ana-Chat-Container[data-isactive='true']){
    width: 380px;
}

.Ana-Chat-Container[data-isactive='false']{
    display: none;
}

.Ana-Container{
    width: 380px;
    position: absolute;
    bottom: 2rem;
    right: 2.5rem;
    overflow: hidden;
    border-radius: 1rem;
    z-index: 200;
    backdrop-filter: blur(5px);
    background-color: rgba(255, 255, 255, .8);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.3);
}

.Ana-Suggest-Container{
    background-color: #f1f1f1;
    padding: .5rem;
    border-radius: .5rem;
}

.Ana-Suggest{
    font-size: .65rem;
    transition: .3s;
    cursor: pointer;
}

.Ana-Suggest:hover{
    opacity: .8;
}

.Ana-Suggest:active{
    transform: scale(.98);
}

.Ana-Empty-Chat-Bottom-Container{
    display: flex;
    padding: .5rem;
    gap: .5rem;
}

.Ana-Empty-Chat-Container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .5rem;
    flex-direction: column;
}

.Ana-Empty-Chat-Header-Title{
    font-size: 1.5rem;
}

.Ana-Chat-Container{
    border-radius: 2rem;
    height: 370px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.Ana-Response-Option{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: .75rem;
    opacity: .5;
}

.Ana-Chat-Footer-Container{
    display: flex;
    flex-direction: column;
    gap: .5rem;
    padding: .5rem 1rem;
}

.Ana-Chat-Message-Input-Container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #f1f1f1;
    border-radius: 2rem;
    padding: .5rem;
}

.Ana-Chat-Message-Input-Container .Input-Icon-Container{
    color: #f1f1f1;
    background-color: #121212;
    border-radius: 50%;
    padding: .3rem;
    width: 1.5rem;
    font-size: 1rem;
    height: 1.5rem;
}

.Ana-Message-Icon-Container{
    width: .5rem;
    height: .5rem;
    border: 1px solid #121212;
    display: block;
    border-radius: 50%;
}

.Ana-Messages-Container{
    display: flex;
    gap: .3rem;
    height: 220px;
    overflow-y: scroll;
    flex-direction: column;
    padding: 1rem;
}

.Ana-Message-Content{
    font-size: .75rem;
    word-break: break-word;
    overflow-wrap: break-word;
}

.Ana-Message-Container{
    border-radius: 2rem;
    height: fit-content;
    padding: .5rem 1rem;
    display: flex;
    flex-direction: column;
    gap: .7rem;
}

.Ana-Message-Container.user{
    align-self: flex-end;
    background-color: #e1e1e1;
}

.Ana-Suggest-Container.Extended{
    padding: .25rem .5rem;
    min-width: 150px;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    line-clamp: 1; 
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.Ana-Response-Options-Container{
    width: 5%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    margin-top: 4.5px;
}

.Ana-Response-Options-Bottom-Container{
    display: flex;
    height: 100%;
    gap: .5rem;
    padding-left: 1rem;
}

.Ana-Message-Top-Assistant-Container{
    display: flex;
    width: 95%;
    gap: .5rem;
    align-items: flex-start;
}

.Ana-Message-Container.assistant{
    width: 100%;
    align-self: flex-start;
}

.Ana-Chat-Footer-Suggests-Container{
    overflow-x: scroll;
    display: flex;
    gap: 1rem;
    padding: .3rem;
}

@media screen and (max-width: 768px){
    .Ana-Chat-Container{
        height: 380px;  
    }

    .Ana-Container{
        right: 0;
        width: 95%;
        position: absolute;
        left: 50%;
        transform: translate(-50%, 0%);
    }
}