.Camera-Footer-Container{
    display: flex;
    position: absolute;
    bottom: 0;
    width: 100vw;
    align-items: center;
    padding: 1rem;
    justify-content: space-between;
}

.Camera-Footer-Container > div{
    width: 33.3%;
}

.Camera-Footer-Center-Container{
    display: flex;
    align-items: center;
    justify-content: center;
}

.Camera-Footer-Right-Container{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.Camera-Trigger-Button{
    border-radius: 50%;
    background-color: #FFFFFF;
    width: 100%;
    cursor: pointer;
    transition: .3s;
    height: 100%;
}

.Camera-Trigger-Button:active{
    border-radius: 40%;
    transform: scale(.85);
}

.Camera-Trigger-Container{
    border: 2px solid #f5f5f5;
    border-radius: 50%;
    padding: .2rem;
    width: 4rem;
    height: 4rem;
}