
.Dashboard-Header-Title{
    font-size: 1.5rem;
    font-weight: 600;
}

.Dashboard-Header-Title-Container{
    display: flex;
    flex-direction: column;
    gap: .7rem;
}

.Dashboard-Header-Subtitle{
    font-size: .95rem;
}

.Dashboard-Header-Left-Container{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.Dashboard-Header-Container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}