
.Entity-Bottom-Container{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: .8rem 1rem;
    border-top: 1px solid #f1f1f1;
}

.Entity-Bottom-Left-Container{
    display: flex;
    align-items: center;
    gap: 1rem;
}

.Entity-Bottom-Row-Container{
    display: flex;
    align-items: center;
    gap: .5rem;
}

.Entity-Bottom-Row-Icon-Container{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: .75rem;
}

.Entity-Bottom-Row-Helper-Text{
    font-size: .75rem;
}

.Entity-Bottom-Delete-Icon-Container{
    display: flex;
    justify-content: center;
    align-items: center;
}
