.Input{
    font-size: .75rem;
    width: 100%;
    padding: 0 .7rem;
}

.Input-Container{
    width: 350px;
    display: flex;
    align-items: center;
    height: 35px;
    border-radius: .5rem;
    border: 1px solid #86868b;
}

.Input-Container:hover{
    border: 1px solid #0071e3;
}