.Input{
    font-size: .75rem;
    width: 100%;
    padding: 0 .7rem;
    height: 100%;
}

.Input-Container{
    width: 350px;
    padding: 2px;
    display: flex;
    align-items: center;
    height: 35px;
    border-radius: .5rem;
    border: 1px solid #86868b;
}

.Input-Icon-Container{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 .5rem;
}

.Input-Container:hover{
    border: 1px solid #0071e3;
}

.Input-Helper-Text{
    font-size: .8rem;
    color: #535353;
}

.Input-Helper-Text-Container{
    padding: .3rem 1rem 0;
    width: 350px;
}

@media screen and (max-width: 768px){
    .Input-Container{
        height: 45px;
    }
}