.Ana-Go-To-Action-Container{
    display: flex;
    gap: .5rem;
    padding: .5rem;
    align-items: center;
    justify-content: center;
    border-radius: 5rem;
    background: #121212;
    color: #FFFFFF;
    cursor: pointer;
    transition: .2s;
}

.Ana-Go-To-Action-Container:active{
    transform: scale(.98);
}

.Ana-Go-To-Action-Container:hover{
    opacity: .95;
}

.Ana-Go-To-Action-Icon-Container{
    display: flex;
    align-items: center;
    justify-content: center;
}
