.Ana-Suggest-Container{
    background-color: #f1f1f1;
    padding: .5rem;
    border-radius: .5rem;
}

.Ana-Suggest{
    font-size: .65rem;
    transition: .3s;
    cursor: pointer;
}

.Ana-Suggest:hover{
    opacity: .8;
}

.Ana-Suggest:active{
    transform: scale(.98);
}

.Ana-Suggest-Container.Extended{
    width: 170px;
}

.Ana-Suggest-Container.Extended .Ana-Suggest{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%;
}