.Button-Container{
    width: fit-content;
    font-size: .95rem;
    padding: .5rem 1.5rem;
    border: 1px solid #1d1d1f;
    border-radius: .5rem;
    min-height: 35px;
    cursor: pointer;
    gap: .5rem;
    display: flex;
    justify-content: center;
    transition: .5s;
    align-items: center;
}

.Button-Container[data-isloading='true'] .Button-Value,
.Button-Container[data-isloading='true'] .Button-Icon-Container{
    display: none;
}

.Button-Container[data-isloading='true'].Contained{
    background-color: transparent;
    border: unset;
}

.Button-Icon-Container{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2rem;
}

.Button-Container.Rounded{
    border-radius: 2rem;
}

.Button-Container:hover{
    opacity: .95;
}

.Button-Container:active{
    transform: scale(.98);
}

.Button-Container.Contained{
    background-color: #1d1d1f;
    color: #FFFFFF;
}